* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

html {
  height: var(--google-html-height);
}

:root {
  --google-html-height: 100vh;
  --google-navbar-height: 80px;
  --google-app-height: 50px;
  --google-app-width: 50px;
  --google-4-gray-color: #444;
  --google-8-gray-color: #888;
  --google-b-gray-color: #bbb;
  --google-d-gray-color: #ddd;
  --google-e-gray-color: #eee;
  --google-f8-gray-color: #f8f8f8;
  --google-logo-height: 100px;
  --google-logo-width: 300px;
  --google-searchbox-width: 600px;
}

.google-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  height: var(--google-navbar-height);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.google-link {
  order: 3;
  margin-right: 12px;
  color: var(--google-4-gray-color);
  text-decoration: none;
}

.google-link:hover {
  text-decoration: underline;
}

.google-selector {
  order: 2;
  margin: 0 2px;
  height: var(--google-app-height);
  width: var(--google-app-width);
}

.google-selector:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--google-e-gray-color);
}

.google-selector > path {
  transform: scale(1.1) translate(10px, 10px);
  filter: invert(29%) sepia(0%) saturate(996%) hue-rotate(147deg)
    brightness(99%) contrast(79%);
}

.google-profile {
  order: 1;
  margin: 0 2px;
  height: var(--google-app-height);
  width: var(--google-app-width);
}

.google-profile:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--google-e-gray-color);
}

.google-profile > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translate(5px, 5px);
}

.google-main {
  display: flex;
  height: 85vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.google-logo {
  margin: 10px 0;
}

.google-searchbox {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--google-searchbox-width);
  height: 44px;
  border-radius: 25px;
  border: solid 1px var(--google-d-gray-color);
}

.google-searchbox:hover {
  box-shadow: 0 1px 6px var(--google-b-gray-color);
}

.google-magnifier {
  height: var(--google-app-height);
  width: var(--google-app-width);
}

.google-magnifier > path {
  transform: translate(12px, 12px);
  filter: invert(29%) sepia(0%) saturate(996%) hue-rotate(147deg)
    brightness(200%) contrast(79%);
}

.google-input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
}

.google-microphone {
  height: var(--google-app-height);
  width: var(--google-app-width);
}

.google-microphone:hover {
  cursor: pointer;
}

.google-microphone > path {
  transform: scale(1.1) translate(10px, 10px);
}

.google-buttons {
  margin: 20px 0;
}

.google-search,
.google-lucky {
  margin: 0 5px;
  padding: 0.75em;
  border: none;
  color: var(--google-4-gray-color);
  border-radius: 4px;
  border: 1px solid white;
  background-color: var(--google-f8-gray-color);
}

.google-search:hover,
.google-lucky:hover {
  border: 1px solid var(--google-d-gray-color);
  box-shadow: 0 0.3px 0.3px var(--google-b-gray-color);
}

.google-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: var(--google-8-gray-color);
  background-color: var(--google-e-gray-color);
}

.google-country {
  display: flex;
  padding: 0 20px;
  border-bottom: 1px solid var(--google-d-gray-color);
}

.google-more {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  border-bottom: 1px solid var(--google-d-gray-color);
}

.google-about {
  order: 1;
  flex-grow: 3;
}

.google-about > ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.google-about > ul > li {
  padding: 0 20px;
}

.google-about > ul > li > a {
  color: inherit;
  text-decoration: none;
}

.google-about > ul > li:hover > a {
  text-decoration: underline;
}

.google-terms {
  order: 2;
  flex-grow: 2;
}

.google-terms > ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.google-terms > ul > li {
  padding: 0 20px;
}

.google-terms > ul > li > a {
  color: inherit;
  text-decoration: none;
}

.google-terms > ul > li:hover > a {
  text-decoration: underline;
}

.google-terms > ul > li > button {
  color: inherit;
  border: none;
}
